
@font-face {
	font-family: 'Webdings';
	src: url('fonts/Webdings.eot');
	src: url('fonts/Webdings.eot?#iefix') format('embedded-opentype'),
		url('fonts/Webdings.woff') format('woff'),
		url('fonts/Webdings.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans.eot');
	src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans.woff') format('woff'),
		url('fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Bold.eot');
	src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Bold.woff') format('woff'),
		url('fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.eot');
	src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Regular.woff') format('woff'),
		url('fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.eot');
	src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Bold.woff') format('woff'),
		url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-SemiBold.eot');
	src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-SemiBold.woff') format('woff'),
		url('fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
