* {
   margin: 0;
   padding: 0;
   outline: none;
   box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a, a:hover {text-decoration: none;}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {clear: both;}
.left {float: left;}
.right {float: right;}

.body {
  width: 1170px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  font-size: 0;
}

/* header */

.header {
  width: 1170px;
  max-width: 1900px;
  margin: 0 auto;
}
.header-wrap {
  position: absolute;
  min-width: 1170px;
  height: 100px;
  top: 0;
  margin: 0 auto;
  border-bottom: 1px solid #505268;
}
.logo {
  float: left;
  padding-top: 37px;
}

.nav {
  float: right;
  padding-top: 42px;

}
.nav li {
  float: left;
  margin-right: 50px;
}

.nav li:last-child {
  margin-right: 0px;
}
.nav a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #cbccd3;
}

/* не слишком красиво, зато понятно, что кликабельный элемент */
.nav a:hover {
  text-decoration: underline;
}
/* masthead */

.masthead {
  height: 750px;
  padding-top: 243px;
  background: #3a3e64 url(images/header-bg.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
  text-align:center;
  width: 100%;

  position: static;
  margin: 0 auto;
}

.masthead h1 {
  text-transform: uppercase;
  font: 65px OpenSans, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  line-height: 71px;
  margin-bottom: 30px;
  padding: 0 110px;
}

.masthead p {
  font: 22px Raleway, Arial, Helvetica, sans-serif;
  line-height: 33px;
  padding: 0 120px;
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 13px;
  background: #e84545;
  padding: 17px 49px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 13px;
  background: #e86f6f;
  padding: 17px 49px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

}
/* features */

.features {
  position: relative;
  top: 120px;
  margin-bottom: 170px;
  width: 100%;
  text-align: center;
}

h5.title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: #555;
}

h5.title:hover {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: #555;
  text-decoration:underline;
}

.features-item {
  float: left;
  width: 33.33%;
  padding: 91px 0 65px 0;

}
.features-item p {
  color: #777;
  width: 300px;
  line-height: 21px;
  padding-top: 23px;
  margin-left: 44px;
}

.description {
  font: 14px Raleway, Arial, Helvetica, sans-serif;
  color: #555;
}

.icon1 {
background: url(images/icon1.png) no-repeat center top;
}

.icon1:hover {
  background: url(images/icon1-hover.png) no-repeat center top;
}
.icon2 {
background: url(images/icon2.png) no-repeat center top;
}
.icon2:hover {
  background: url(images/icon2-hover.png) no-repeat center top;
}
.icon3 {
background: url(images/icon3.png) no-repeat center top;
}
.icon3:hover {
  background: url(images/icon3-hover.png) no-repeat center top;
}
.icon4 {
background: url(images/icon4.png) no-repeat center top;
}
.icon4:hover {
  background: url(images/icon4-hover.png) no-repeat center top;
}
.icon5 {
background: url(images/icon5.png) no-repeat center top;
}
.icon5:hover {
  background: url(images/icon5-hover.png) no-repeat center top;
}
.icon6 {
background: url(images/icon6.png) no-repeat center top;
}
.icon6:hover {
  background: url(images/icon6-hover.png) no-repeat center top;
}
/* Блок с галереей работ */

.works {
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  font-size: 0;
}
.block {
  display:inline-block;
  position: relative;
  width: 25%;
  height: 350px;
  vertical-align:top;
}
.work1 {
  background: url(images/work1.png) no-repeat center top;
  border-bottom: 1px solid #fff;
}

.work2 {
  background: url(images/work2.png) no-repeat center top;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.work3 {
  background: url(images/work3.png) no-repeat center top;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.work4 {
  background: url(images/work4.png) no-repeat center top;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.work5 {
  background: url(images/work5.png) no-repeat center top;
}

.work6 {
  background: url(images/work6.png) no-repeat center top;
  border-left: 1px solid #fff;
}

.work7 {
  background: url(images/work7.png) no-repeat center top;
  border-left: 1px solid #fff;
}

.work8 {
  background: url(images/work8.png) no-repeat center top;
  background-size: cover;
  border-left: 1px solid #fff;
}

/* Общие стили для перекрывающих элементов */
.cover,
.cover-title,
.cover-text  {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Отображаем перекрывающие элементы при наведении на блок с картинкой */
.block:hover .cover,
.block:hover .cover-text,
.block:hover .cover-title
{
  display:block;
}

.cover {
  background: #e7504c;
	opacity: .8;

}
/* Перекрывающий текст */
.cover-title {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 156px;

}
.cover-text {
  color: #fff;
  font-size: 14px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top:185px;
}
/* Блок "Команда" */


.team {
  position:relative;
  padding-top:100px;
  padding-bottom: 130px;
}
.team li {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  width: 270px;

}

.team li:nth-child(n+1) ~ li {
    margin-left: 30px;
  }

.member-name {
  font: 22px normal;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  padding-top: 30px;
  color: #57595c;
}

.member-position {
  text-transform: uppercase;
  font: 13px normal;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  padding-top: 18px;
  color: #e84545;
}

.member-bio {
  font-size: 14px;
  line-height: 21px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  padding-top: 30px;
  color: #57595c;
}


/* футер: блок с контактами и социальными иконками */

.contacts {
  background-color: #3a3e64;
  height: 250px;
  width: 100%;
  margin: 0 auto;
}
.contacts-internal {
  width: 1170px;
  margin: 0 auto;
}

.contacts-item {
  float:left;
  position: relative;
  width: 33.33%;
  text-align: center;
  padding-top: 75px;
}

.contacts h5 {
  text-transform: uppercase;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  padding-bottom: 27px;
}

.contacts-item p {
  color: #9d9fb2;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height:22px;
  text-align: center;
}

/* иконки соцсетей */

.social {
  font-size: 0;

}
.social li {
  display: inline-block;
  width: 40px;
}

.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* социальные иконки для футера */

.icon-fb {
  background: url(images/fb-icon.png) no-repeat center;
  border: 3px solid #fff;
  vertical-align: middle;
  margin-left: -15px;
}
.icon-fb:hover {
  background: url(images/fb-icon.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-left: -15px;
}
.icon-twi {
  background: url(images/twi-icon.png) no-repeat center;
  border: 3px solid #fff;
  vertical-align: middle;
  margin-left: -5px;
}
.icon-twi:hover {
  background: url(images/twi-icon.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-left: -5px;
}
.icon-in {
  background: url(images/in-icon.png) no-repeat center;
  border: 3px solid #fff;
  vertical-align: middle;
  margin-left: 5px;
}
.icon-in:hover {
  background: url(images/in-icon.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-left: 5px;
}
/* социальные иконки для блока Команда */

.icon-fb-grey {
  background: url(images/fb-icon-grey.png) no-repeat center;
  border: 3px solid #c6cacc;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: 0;
}
.icon-fb-grey:hover {
  background: url(images/fb-icon-grey.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: 0;
}
.icon-twi-grey {
  background: url(images/twi-icon-grey.png) no-repeat center;
  border: 3px solid #c6cacc;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: -25px;
}
.icon-twi-grey:hover {
  background: url(images/twi-icon-grey.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: -25px;
}
.icon-in-grey {
  background: url(images/in-icon-grey.png) no-repeat center;
  border: 3px solid #c6cacc;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: -50px;
}
.icon-in-grey:hover {
  background: url(images/in-icon-grey.png) no-repeat center;
  border: 3px solid #e7504c;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: -50px;
}

/* блок копирайтов */
.copyright {
  width: 100%;
  margin: 0 auto;
}
.footer {
  background-color: #313454;
  height: 94px;
  text-align: center;
  font: 14px Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #808080;
  padding-top: 34px;
  line-height: 20px;
}

span {
  color: #fff;
  font-style: normal;

}
span:before {
  content: url(images/heart.png);
  display: inline-block;
  vertical-align: middle;
}

/* стили для блока Download */

	.text-center {
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: OpenSans, Arial, Helvetica, sans-serif;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
    font-family: Raleway, Arial, Helvetica, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;

	}

	.download #btn {
		margin-top: 30px;
    margin-bottom: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
    font-family: Raleway, Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 3px;
		display: inline-block;
		text-transform: uppercase;
	}

  .download #btn:hover {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e86f6f;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
  }
